
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.row{
    height: 400px;
    display: flex;
    gap:5px;
    margin-bottom: 5px;
}
.row > div{
    flex: 1;
}
.vertical-collage img{
   height: calc( (100% - 5px)/2 );
}


.square-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:5px;
}

/* Media Query Responsive */

@media screen and (max-width:576.36px){
    .row{
        flex-direction: column;
        height: auto;
    }
    img{
        border-radius: 10px;
    }
    .square-collage{
        grid-template-columns: repeat(1,1fr);
    }
    button{
       padding: 10px;
       width: 100%;
        margin:0 auto;
       background-color: red;
       border-radius: 4px;
       color: white;
       border:none;

    }

}

/* medium devices */
@media screen and (min-width:576.37px) and (max-width:992px){
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: repeat(1, 1fr);
    }
    img{
        border-radius: 10px;
    }
     button{
       padding: 10px;
       width: 50%;
       font-size: 2em;
       margin:0 auto;
       background-color: red;
       color: white;

    }

}