
.container{
    background-color: aquamarine;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(3,120px) 50px;
    gap:20px;
    justify-content: center;font-size: 1em;
    box-sizing: border-box;
}
.box{
    background-color: gray;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
}
#box1{
    grid-row:span 5;
    
}
#box6, #box7,#box9,#box10{
    background-color: rgb(255, 0, 242);
}
#box11, #box12{
    grid-column:span 3;
}
@media screen and (max-width:576.36px){
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,100px)40px;
        
        
    }
    .box{
        font-size: 1em;
    }
}