.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(3,100px) 30px 30px;
    gap:20px;
}
.box{
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
}
#box-2{
    grid-row: span 4;
}
#box-12{
    grid-column: span 2;
}